     <!-- <h2>ورود</h2>

<form class="w-full max-w-md" action="./dashboard.ejs" method="post">

       

      <p class="text-sm text-gray-500 mt-4">
        Don't have an account? <a href="../customers/index.ejs" class="text-blue-500 hover:underline">Register</a>
        forgetpassword ?<a href="../groups/index.ejs" class="text-blue-500 hover:underline">forgetpassword</a>

      </p>
</form>
 
  -->
